<div class="ui-body ui-body-a">
  <h1>Send SMS to <%= @campaign.name %></h1>

  <%= form_for [@campaign, @message] do |f| %>
    <p>
      <%= f.label :body, 'Body' %>
      <%= f.text_area :body %>
    </p>

    <p><%= f.submit 'Send Message' %></p>
  <% end %>
  <br />
</div>
<%= render "layouts/partials/validation_errors", :model => @message %>