<div class="ui-body ui-body-a">
  <h1>Enter the Swarm</h1>

  <%= form_for @login, :url => login_url do |f| %>
  <p>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password %>
  </p>
    <p><%= f.submit 'Login' %></p>
  <% end %>
  <br />
</div>
<%= render "layouts/partials/validation_errors", :model => @login %>