<% if !@contact.blank? %>
<li>
  <div class="ui-grid-b">
    <div class="ui-block-a"><%= subscription.campaign.name %> (<%= subscription.confirmed? ? 'CONFIRMED' : 'PENDING' %>)</div>
    <div class="ui-block-b"><%= subscription.endpoint %></div>
    <div class="ui-block-c">
	  <%= form_for([@contact, subscription], :method => :delete) do |f| %>
	    <%= f.submit 'Delete', 'data-inline' => true, 'data-icon' => 'delete' %>
	  <% end %>    
	</div>
  </div>
</li>
<% elsif @campaign %>
<li>
  <div class="ui-grid-b">
    <div class="ui-block-a"><%= subscription.contact.name %></div>
    <div class="ui-block-b"><%= subscription.confirmed? ? 'CONFIRMED' : 'PENDING' %></div>
    <div class="ui-block-c"><%= subscription.endpoint %></div>
  </div>
</li>
<% end %>